body {
    height: 100vh;
}

.texto-menor {
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

.texto-cor-verde {
    color: #DAFF01;
}

.mark-cor-verde {
    background-color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF;
}

.posicao{
    top: 40%;
}

.fundo-preto-gradiente {

}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}